
<!-- <p class="text-white">{{movieObject|json}}<p> -->
<div class="movie-container"*ngIf="movieObject">
    <div
    [style.backgroundImage]="'url(http://image.tmdb.org/t/p/original'+movieObject.backdrop_path+')'"
    class="movie-backdrop"></div>

    <!--movie-card-->
    <div class="movie-content text-white">
        <div class="movie-poster">
            <img [src]="'https://image.tmdb.org/t/p/w500'+movieObject.poster_path" [alt]="movieObject.title"
            [title]="movieObject.title">
        </div>

        <div class="movie-info">
            <h1>{{movieObject.title}}</h1>
            <p class="movie-tagline">{{movieObject.tagline}}</p>
            <p class="movie-overview">{{movieObject.overview}}</p>
            <p class="rating">⭐{{movieObject.vote_average}}</p>
            <p class="release">📅{{movieObject.release_date}}</p>


            <div class="movie-button">
                <button mat-raised-button color="primary" class="watch-now"> ▶ Watch Now</button>
                <button mat-stroked-button color="warn" class="back" routerLink="/"> ⬅ Back</button>
            </div>
        </div>

    </div>
</div>

