<div class="dashboard-container">


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort>
  
    <!-- Poster Column -->
    <ng-container matColumnDef="poster">
      <th mat-header-cell *matHeaderCellDef>Poster </th>
      <td mat-cell *matCellDef="let element"> 
        <img src="http://image.tmdb.org/t/p/w92{{element.poster_path}}"
        class="movie-poster"
        [alt]="element.title" [title]="element.title"> </td>
    </ng-container>
  
    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <!-- release_date Column -->
    <ng-container matColumnDef="release_date">
      <th mat-header-cell *matHeaderCellDef> release_date </th>
      <td mat-cell *matCellDef="let element"> {{element.release_date}} </td>
    </ng-container>
  
    <!-- rating Column -->
    <ng-container matColumnDef="rating">
      <th mat-header-cell *matHeaderCellDef> rating </th>
      <td mat-cell *matCellDef="let element"> {{element.vote_average}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
    (click)="navigatetomovie(row)"
    mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator
  [length]="totalMovies"
  [pageSize]="20"
  [pageSizeOptions]="[10,20,50]"
  (page)="onPageChange($event)"
  ></mat-paginator>
</div>